@using VetClinic.Data.Data;
@model VetClinic.Data.Data.Staff.Employee

@{
    ViewData["Title"] = "Create";
}

<h3>Staff > Employees > Create</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeSurname" class="control-label"></label>
                <input asp-for="EmployeeSurname" class="form-control" />
                <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTitleId" class="control-label"></label>
                <input asp-for="EmployeeTitleId" class="form-control" />
                <span asp-validation-for="EmployeeTitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeePositionId" class="control-label"></label>
                <input asp-for="EmployeePositionId" class="form-control" />
                <span asp-validation-for="EmployeePositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEducation" class="control-label"></label>
                <input asp-for="EmployeeEducation" class="form-control" />
                <span asp-validation-for="EmployeeEducation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeBio" class="control-label"></label>
                <input asp-for="EmployeeBio" class="form-control" />
                <span asp-validation-for="EmployeeBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeePhotoURL" class="control-label"></label>
                <input asp-for="EmployeePhotoURL" class="form-control" />
                <span asp-validation-for="EmployeePhotoURL" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                @Html.CheckBoxFor(model => model.EmployeeIsActive, htmlAttributes: new { @checked = true} )
                @Html.LabelFor(model => model.EmployeeIsActive, "Is Active")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
