<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://www.wrappixel.com/templates/adminpro-lite/" />

    <title>@ViewData["Title"] - VetClinic.Intranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/clock.css" asp-append-version="true" />

    <!-- chartist CSS -->
    @*<link href="~/lib/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/lib/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">*@
    <!--c3 CSS -->
@*    <link href="~/lib/assets/plugins/c3-master/c3.min.css" rel="stylesheet">*@

    <!-- Dashboard 1 Page CSS -->
    <link href="~/lib/html/css/pages/dashboard.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/lib/html/css/colors/default-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
       @* <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>*@
    <![endif]-->
    <!-- Custom CSS -->
    <link href="~/lib/html/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
@*    <link href="~/lib/html/css/pages/dashboard.css" rel="stylesheet">*@
    <!-- You can change the theme colors from here -->
@*    <link href="~/lib/html/css/colors/default-dark.css" id="theme" rel="stylesheet">*@
@*    <link href="~/icons/material-design-iconic-font/css/materialdesignicons.min.css" type="text/css" rel="stylesheet" />
*@
 @*   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    @* <div class="preloader">
    <div class="loader">
    <div class="loader__figure" style="color: #16697A"></div>
    <p class="loader__label">VetClinic</p>
    </div>
    </div>*@
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <!-- Logo icon --><b>
                            <img src="~/lib/img/logo.png" alt="homepage" style="height:60px" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <img src="~/lib/img/text-logo.jpg" alt="homepage" style="height:50px" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav me-auto">
                        <!-- This is  -->
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                               href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box">
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
                                <i class="ti-search"></i>
                            </a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-dark" href="#">
                                <img src="~/lib/assets/images/users/1.jpg"
                                     alt="user" class="profile-pic" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-gauge" style="color: #EDE7E3"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="News" asp-action="Index">
                                <i class="mdi mdi-newspaper" style="color: #EDE7E3"></i><span class="hide-menu">News</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="EmployeeSchedule" asp-action="Index">
                                <i class="mdi mdi-timetable" style="color: #EDE7E3"></i><span class="hide-menu">Schedule</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Appointments" asp-action="Index">
                                <i class="mdi mdi-table" style="color: #EDE7E3"></i><span class="hide-menu">Appointments</span>
                            </a>
                        </li>
                        <li class="sidebar-expandable">
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i class="mdi mdi-account-check" style="color: #EDE7E3"></i><span class="hide-menu">Staff</span>
                            </a>

                            <ul class="sidebar-nested">
                                <li>
                                    <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Employees" asp-action="Index">
                                        <i class="mdi mdi-account-check" style="color: #EDE7E3"></i><span class="hide-menu"> Employee List</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Titles" asp-action="Index">
                                        <i class="mdi mdi-account-check" style="color: #EDE7E3"></i><span class="hide-menu"> Titles</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Positions" asp-action="Index">
                                        <i class="mdi mdi-account-check" style="color: #EDE7E3"></i><span class="hide-menu"> Positions</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false">
                                <i class="mdi mdi-emoticon" style="color: #EDE7E3"></i><span class="hide-menu">Clients</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Pages" asp-action="Index">
                                <i class="mdi mdi-book-open-page-variant" style="color: #EDE7E3"></i><span class="hide-menu">Pages</span>
                            </a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="InfoPages" asp-action="Index">
                                <i class="mdi mdi-information" style="color: #EDE7E3"></i><span class="hide-menu">Info Pages</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="ServiceGroups" asp-action="Index">
                                <i class="mdi mdi-help-circle" style="color: #EDE7E3"></i><span class="hide-menu">Service Groups</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" aria-expanded="false" asp-controller="Services" asp-action="Index">
                                <i class="mdi mdi-shopping" style="color: #EDE7E3"></i><span class="hide-menu">Services</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="min-height:1150px">
                @RenderBody()

                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">©2023 VetClinic</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @*<script src="~/lib//assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/lib//assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <!-- slimscrollbar scrollbar JavaScript -->
    @*<script src="~/lib/html/js/perfect-scrollbar.jquery.min.js"></script>*@
    <!--Wave Effects -->
    <script src="~/lib/html/js/waves.js"></script>
    <!--Menu sidebar -->
   @* <script src="~/lib/html/js/sidebarmenu.js"></script>*@
    <!--Custom JavaScript -->
    @*<script src="~/lib/html/js/custom.min.js"></script>*@
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    @*    <script src="~/lib/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/lib/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>*@
    <!--c3 JavaScript -->
@*    <script src="~/lib/assets/plugins/d3/d3.min.js"></script>
    <script src="~/lib/assets/plugins/c3-master/c3.min.js"></script>*@
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <!-- Chart JS -->
    @*<script src="~/lib/html/js/dashboard.js"></script>*@

    <script src="~/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@*    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
*@

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>