@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
    <div class="d-flex justify-content-center">
                <div>
                    <h2 class="display-4">Welcome!</h2><br/>
                    <h5 id="date-time"></h5>
                    <p id="weather"></p>
                </div>
                <div class="clock" style="margin-left: 60px">
                    <div class="clock__second"></div>
                    <div class="clock__minute"></div>
                    <div class="clock__hour"></div>
                    <div class="clock__axis"></div>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                    <section class="clock__indicator"></section>
                </div>
            </div>
    <br/><br/>

    <div class="d-flex flex-column dashboard-components">
        <div>
            @await Component.InvokeAsync("TodaysScheduleComponent")
            <br />
        </div>
        <div class="d-flex justify-content-between">
            @await Component.InvokeAsync("TodaysAppointmentComponent")
            <br />
            @await Component.InvokeAsync("UnconfirmedAppointmentsComponent")
            <br />
        </div>

    </div>
</div>

@if (TempData["ConfirmationMessage"] != null)
{
    <script>
        alert('@TempData["ConfirmationMessage"]');
    </script>
}
@section Scripts {
    <script>
        const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const date = new Date();

        let day = date.getDate();
        let month = months[date.getMonth()];
        let year = date.getFullYear();

        let today = weekdays[date.getDay()];

        setInterval(() => {
            document.getElementById('date-time').innerHTML = `Today is ${today}, ${month} ${day}`;
        }, 1000);


        fetch('https://api.openweathermap.org/data/2.5/weather?q=Warsaw,PL&appid=15ca4dcc12d3ab634e86f53a2ae05818&units=metric')
            .then(response => response.json())
            .then(data => {
                document.getElementById('weather').innerHTML = `Temperature: ${data.main.temp}°C, ${data.weather[0].description}`;
            });
    </script>

    <script>

        var currentSec = getSecondsToday();

        var seconds = (currentSec / 60) % 1;
        var minutes = (currentSec / 3600) % 1;
        var hours = (currentSec / 43200) % 1;

        setTime(60 * seconds, "second");
        setTime(3600 * minutes, "minute");
        setTime(43200 * hours, "hour");

        function setTime(left, hand) {
            $(".clock__" + hand).css("animation-delay", "" + left * -1 + "s");
        }

        function getSecondsToday() {
            let now = new Date();

            let today = new Date(now.getFullYear(), now.getMonth(), now.getDate());

            let diff = now - today;
            return Math.round(diff / 1000);
        }
    </script>
}
