@model VetClinic.Portal.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewData["Title"] = "Log In";
}
        <div class="row" style="width:60%; padding:60px">
            <div class="col-md-8">
                <section>
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-control" style="margin-top:20px">
                        <input type="checkbox" asp-for="RememberMe" id="RememberMe" style="vertical-align:middle">
                        <label for="RememberMe" style="margin-left:2px">Remember me</label>
                        </div>
                        <br/>
                        <div style="text-align:center"><button type="submit" class="btn btn-primary">Log In</button></div>
                    </form>
                </section></br>
                <div style="text-align: center">
                    Don't have an account yet? <a asp-action="Register" asp-controller="Account">Register now!</a>
                </div>
            </div>
        </div>
