@model VetClinic.Portal.ViewModels.ProfileViewModel
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewData["Title"] = "User Profile";
}
<p>Email: @Model.Email</p>
<p>Name: @Model.Name</p>
<p>Surname: @Model.Surname</p>