@model VetClinic.Portal.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@{
    ViewData["Title"] = "Register";
}

<div style="width: 60%; padding: 60px; align-self: center">
    <form asp-action="Register" asp-controller="Account" method="post" id="registerForm">
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <br/>
        <div style="text-align:center"><button type="submit" class="btn btn-primary">Register</button></div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#registerForm").validate();
        });
    </script>
}