@model VetClinic.Data.Data.CMS.InfoPage

@{
    ViewData["Title"] = "Edit";
}

<h3>Info Pages > Edit</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InfoPageId" />
            <div class="form-group">
                <label asp-for="InfoLinkTitle" class="control-label"></label>
                <input asp-for="InfoLinkTitle" class="form-control" />
                <span asp-validation-for="InfoLinkTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfoPageTitle" class="control-label"></label>
                <input asp-for="InfoPageTitle" class="form-control" />
                <span asp-validation-for="InfoPageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InfoContent" class="control-label"></label>
                <textarea asp-for="InfoContent" class="form-control" />@Html.Raw(Model.InfoContent)</textarea>
                <span asp-validation-for="InfoContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea#InfoContent'
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
